.sidebar {
  flex: 1;
  background-color: #2c2f3e;
  padding: 20px;
  max-width: 250px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* firefox scrollbar */
  scrollbar-width: thin;
  scrollbar-color: #43455b transparent; /* thumb and track color */
}

/* chrome scrollbar */
.sidebar::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #43455b;
  border-radius: 4px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #53576b;
}

.addChatButton {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: lightgray;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

.addChatButton:hover {
  background-color: gray;
  color: #ffffff;
}
